*.class
.project
.classpath
.settings
target

# svn file#
.svn

# Package Files #
*.jar
*.war
*.ear

# user
pom.xml.versionsBackup
pom.xml.releaseBackup
release.proeprties
genthemall-template-web-admin/src/test
genthemall-template-web-admin/src/main/webapp/WEB-INF/jsp
genthemall-example/src/test
genthemall-example/genthemall.conf
genthemall-template-web-admin/genthemall.conf

