<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	<mappers>

		<mapper resource="mybatis/mysql/user.xml"/>
		<mapper resource="mybatis/mysql/ext/userExt.xml"/>

		<mapper resource="mybatis/mysql/userType.xml"/>
		<mapper resource="mybatis/mysql/ext/userTypeExt.xml"/>

		<mapper resource="mybatis/mysql/userAbcInfo.xml"/>
		<mapper resource="mybatis/mysql/ext/userAbcInfoExt.xml"/>

		<mapper resource="mybatis/mysql/comment.xml"/>
		<mapper resource="mybatis/mysql/ext/commentExt.xml"/>

		<mapper resource="mybatis/mysql/commentType.xml"/>
		<mapper resource="mybatis/mysql/ext/commentTypeExt.xml"/>

		<mapper resource="mybatis/mysql/dictionary.xml"/>
		<mapper resource="mybatis/mysql/ext/dictionaryExt.xml"/>

		<mapper resource="mybatis/mysql/menu.xml"/>
		<mapper resource="mybatis/mysql/ext/menuExt.xml"/>

		<mapper resource="mybatis/mysql/menuType.xml"/>
		<mapper resource="mybatis/mysql/ext/menuTypeExt.xml"/>

		<mapper resource="mybatis/mysql/news.xml"/>
		<mapper resource="mybatis/mysql/ext/newsExt.xml"/>

		<mapper resource="mybatis/mysql/newsType.xml"/>
		<mapper resource="mybatis/mysql/ext/newsTypeExt.xml"/>

		<mapper resource="mybatis/mysql/product.xml"/>
		<mapper resource="mybatis/mysql/ext/productExt.xml"/>

		<mapper resource="mybatis/mysql/productType.xml"/>
		<mapper resource="mybatis/mysql/ext/productTypeExt.xml"/>

		<mapper resource="mybatis/mysql/shop.xml"/>
		<mapper resource="mybatis/mysql/ext/shopExt.xml"/>

		<mapper resource="mybatis/mysql/shopType.xml"/>
		<mapper resource="mybatis/mysql/ext/shopTypeExt.xml"/>

		<mapper resource="mybatis/mysql/unit.xml"/>
		<mapper resource="mybatis/mysql/ext/unitExt.xml"/>

		<mapper resource="mybatis/mysql/unitType.xml"/>
		<mapper resource="mybatis/mysql/ext/unitTypeExt.xml"/>

	</mappers>
</configuration>