<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="lazyLoadingEnabled" value="false" />
	</settings>
	<mappers>

		<mapper resource="mybatis/user.xml"/>
		<mapper resource="mybatis/ext/userExt.xml"/>

		<mapper resource="mybatis/userType.xml"/>
		<mapper resource="mybatis/ext/userTypeExt.xml"/>

		<mapper resource="mybatis/userAbcInfo.xml"/>
		<mapper resource="mybatis/ext/userAbcInfoExt.xml"/>

		<mapper resource="mybatis/comment.xml"/>
		<mapper resource="mybatis/ext/commentExt.xml"/>

		<mapper resource="mybatis/commentType.xml"/>
		<mapper resource="mybatis/ext/commentTypeExt.xml"/>

		<mapper resource="mybatis/dictionary.xml"/>
		<mapper resource="mybatis/ext/dictionaryExt.xml"/>

		<mapper resource="mybatis/menu.xml"/>
		<mapper resource="mybatis/ext/menuExt.xml"/>

		<mapper resource="mybatis/menuType.xml"/>
		<mapper resource="mybatis/ext/menuTypeExt.xml"/>

		<mapper resource="mybatis/news.xml"/>
		<mapper resource="mybatis/ext/newsExt.xml"/>

		<mapper resource="mybatis/newsType.xml"/>
		<mapper resource="mybatis/ext/newsTypeExt.xml"/>

		<mapper resource="mybatis/product.xml"/>
		<mapper resource="mybatis/ext/productExt.xml"/>

		<mapper resource="mybatis/productType.xml"/>
		<mapper resource="mybatis/ext/productTypeExt.xml"/>

		<mapper resource="mybatis/shop.xml"/>
		<mapper resource="mybatis/ext/shopExt.xml"/>

		<mapper resource="mybatis/shopType.xml"/>
		<mapper resource="mybatis/ext/shopTypeExt.xml"/>

		<mapper resource="mybatis/unit.xml"/>
		<mapper resource="mybatis/ext/unitExt.xml"/>

		<mapper resource="mybatis/unitType.xml"/>
		<mapper resource="mybatis/ext/unitTypeExt.xml"/>

	</mappers>
</configuration>