/* main */
#main-wrapper {
	min-width: 1024px;
}
#main-wrapper * {
	font: normal 13px/28px sans-serif;
}

#main-wrapper a {
	
}

#left-side,#right-side {
	padding-top: 30px;
}

#left-side {
	border-right: 1px solid #CCC;
	height: auto !important;
	_height: 500px;
	min-height: 500px;
	width: 15%;
	float: left;
}

#right-side {
	height: auto !important;
	_height: 500px;
	width: 80%;
	float: left;
}

/* start topbar menu */
#topbar-menu {
	border-bottom: 2px solid #464646;
	height: 28px;
	background-color: #444;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 99999;
	width: 100%;
}

#topbar-menu a {
	outline: none;
	border: none;
	text-decoration: none;
	background: none;
	color: #21759B;
}

#topbar-menu .menu-item {
	display: block;
}

#topbar-menu ul,#topbar-menu ul li {
	background: none;
	clear: none;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 99999;
}

#topbar-menu>ul>li {
	border-right: 1px solid #555;
	float: left;
	display: block;
	line-height: 28px;
	margin: 0 10px;
	float: left;
	display: block;
	line-height: 28px;
	margin: 0 10px;
	position: relative;
}

#topbar-menu>ul>li>a {
	border-right: 1px solid #333;
	padding: 0 12px;
}

#topbar-menu .sub-menu-wrapper {
	margin: 0 0 0 -1px;
	padding: 0;
	-moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
	background: white;
	display: none;
	position: absolute;
	float: none;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #DFDFDF;
}

#topbar-menu .sub-menu {
	padding: 6px 0;
	border-top: 1px solid #DFDFDF;
}

#topbar-menu .sub-menu-wrapper .menu-item {
	line-height: 26px;
	height: 26px;
	text-shadow: none;
	white-space: nowrap;
	min-width: 140px;
}

#topbar-menu .sub-menu-wrapper ul {
	display: block;
	position: relative;
	right: auto;
	margin: 0;
	background: #EEE;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#topbar-menu .hover .sub-menu-wrapper {
	display: block;
}
/* end topbar menu */
/* start tabs */
#right-side>div {
	margin: 3px;
	min-height: 90%;
}

#right-side>div>ul {
	height: 30px;
}

#right-side>div>ul>li {
	height: 28px;
}

#right-side>div>ul>li>a {
	cursor: pointer;
}

#right-side li .ui-icon-close {
	float: left;
	margin: 0.4em 0.2em 0 0;
	cursor: pointer;
}
/* end tabs*/
/* start table */
#right-side .list-table {
	width: 100%;
}

#right-side .list-table th,#right-side .list-table td {
	line-height: 12px;
	padding: 5px 6px;
	text-align: left;
	vertical-align: top;
	border: 1px solid #ddd;
}

#right-side .list-table th:hover,#right-side .list-table tr:hover {
	background: #b2d1ff;
}

#right-side .list-table .odd {
	background: #f7f7f7;
}

#right-side .list-table .even {
	background: #fff;
}

#right-side .list-table {
	border-collapse: collapse;
}
#right-side .list-table td {
	overflow: hidden;
}
#right-side .list-table .editable {
	overflow: hidden;
	width: 150px;
	cursor: pointer;
}

#right-side .list-table .editable input {
	width: 140px;
	height: 24px;
	line-height: 24px;
	border: 1px solid #CCC;
}
#right-side .list-table .editable input:focus {
	outline: none;
}

/* end table*/
/* common */
.el-block {
	display: block;
}

.el-left {
	float: left;
}

.el-right {
	float: right;
}

.el-max-width {
	width: 100%;
}

.hide {
	display: none;
}

.clear {
	clear: both;
}